/*
auteur : Elisa Kuoch
date de création : 22.03.2022
description : Feuille de style CSS

 */
:root{
    --accent-color:#cc8645;

    /*bg*/
    --mainbg-color:#1A1A1A;
    /*square bg*/
    --secondbg-color:#2a2a2a;

    --footer-color:#171717;
    --txt-color:white;
    
}
body{
    margin: 0%;
    color: var(--txt-color);
    background-color: var(--mainbg-color);
}

 /* header  */
.header-container{
    min-width: 100%;
    width: 100%;
    height: auto;

    /* centers image  */
    text-align: center;
    display: flex;
    justify-content: center;
}
.gradient-overlay{
    position: relative;
    /* width: 100%; */
    height: auto;
    text-align: center;
    
}
.gradient-overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 33.33%);
}
.header-img{
    width: 100%;
    /* bizarre ce truc  */
    max-width: 1920px;
    max-height: auto;
    
}
.navbar-light{
    background-color: var(--accent-color);
}
.nav-link.active{
    font-weight: bolder;
    
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.nav-link.active, .navbar-light .navbar-nav .nav-link.nav-link:focus{
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
    color: white;
}
.nav-item{
    margin-right: 20px;
    font-weight: bold;
}
.title{
    position: absolute;
    bottom: 8px;
    left: 15%;
}
.txt-img-container{
    position: relative;
    text-align: center;
    color: var(--txt-color);
}
 
/* footer  */
.footer-container{
    /* width: 100%; */
    background-color: var(--footer-color);
    border-radius: 35px ;
    color: var(--txt-color);
    padding: 30px 60px;
    /* padding-top: 30px;
    padding-left: 60px ;
    padding-bottom: 30px;
    padding-right: 60px ; */
    
}
.footer-section{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

}
 
a.btn.btn.btn-outline-light.btn-floating.m-2:hover{
    color: var(--txt-color);
    background-color: var(--accent-color);
}

/*general*/
p{
    color: var(--txt-color);
    text-align: justify;
}


.container-item{
    /* padding-top: 2em; */
    padding-bottom: 2em;
    /* padding: 2em 0em; */
}

.container-flex{
    display: flex;
    /* justify-content: center; */
}
.container-centertextV{ 
    align-items: center;
}
.container-centertextV > p{ 
    margin: 0 0;
    margin-right: 25px;
}

.container-flex-programs{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.skillsbox{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px 10px;
    
    background-color: var(--accent-color);
}

.skillsbox-text{
    text-align: center;    
}

.container-background{
    border-radius: 35px;
    background-color: var(--secondbg-color);
    padding: 30px 60px;

}

.container-mini{
    width: 1000px;
}
.container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.container-program{
    display: flex;
    margin: 10px;
    width: 300px;
    align-items: center;
    /* justify-content: center; */
}
.img-program{
    height: 70px;
    width: 70px;
}
h5{
    margin-left: 20px;
}
h2{
    margin: 1em 0em;
}

/* contact  */
.form-group{
    margin: 1em 0em;
}

/*displays image with good width*/
.img-full{
    width: 100%;
    margin: 2em 0em 1em 0em;
}

a{
    text-decoration: none;
    color: var(--txt-color);
}
a:hover{
    color: var(--accent-color);
}

a.container-center{
    width: 70%;
}

.table {
    color: white;
}
.gallery-width{
    width: 100%;
}

.card{
    background-color:var(--secondbg-color);
    margin: 1em;
    max-height: 18em;
    max-width: 14em;
}
.img-card{
    height: 14em;
    width: 12em;
    object-fit: contain;
}
a > p:hover{
    color: var(--accent-color);
}

.img-detail{
    width: 100%;
    
}